#main-container {
  min-width: 800px
}
#banner {
  background-color: azure;
  display: flex;
  height: 100px;
  justify-content: center;
  align-items: center;
}
#banner h3 {

}

#search-wrapper {
  float: right;
  margin: 2% 1%;
}
/* Landing page styling */
#landing-wrapper {
  text-align: center;
}
/* Search content styling */
#search-content-wrapper{
  clear: both;
}

.img-wrapper {
  display: flex;
  flex-wrap: wrap;
}

.gif-thumbnail {
  max-width: 120px;

}

img {
  margin: 8px;
}
