@import url('https://fonts.googleapis.com/css2?family=Supermercado+One&display=swap');

#main-container {
  min-width: 800px
}

.hidden {
  display: none;
}
#banner {
  background-color: azure;
  display: flex;
  height: 140px;
  justify-content: center;
  align-items: center;
}
#banner h1 {
  font-family: 'Supermercado One', cursive;
  font-size: 80px;
}

/* Landing page styling */
#landing-wrapper {
  text-align: center;
  margin: 50px 0px;
}
/* Search page styling */
#search-wrapper {
  height: 600px;
}

#search-form-wrapper {
  float: right;
  margin: 2% 1%;
}
#search-result-wrapper{
  clear: both;
}

.search-img-wrapper {
  display: flex;
  flex-wrap: wrap;
}

.gif-thumbnail {
  max-width: 120px;
  transition: 0.3s all ease-in-out;
}
.gif-thumbnail:hover {
  transform: scale(1.2);
  cursor: pointer;
}

img {
  margin: 8px;
}

#search-result-wrapper, h3 {
  text-align: center;
  font-size: 1.2em;
  font-family: 'Supermercado One', cursive;
}

#search-selection-wrapper {
  
}

/* Footer styling */
footer {
  text-align: center;
  margin-top: 30px;
}