#main-container {
  min-width: 800px
}
#banner {
  background-color: azure;
  display: flex;
  height: 100px;
  justify-content: center;
  align-items: center;
}
#banner h3 {

}

.img-wrapper {
  display: flex;
  flex-wrap: wrap;
}

img {
  margin: 10px;
}
